fieldset {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid hsl(234, 79%, 85%);
  border-radius: 1rem;
}

legend {
  color: hsl(234, 50%, 40%);
}

.form-field {
  display: flex;
  gap: 1rem;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.column {
  flex-direction: column;
}

label {
  font-weight: 500;
  font-size: 1.2rem;
  color: hsl(234, 50%, 40%);
}

.form-field.row label {
  flex: 0 0 10rem;
}

.form-field.row input,
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border: 2px solid hsl(234, 79%, 66%);
  border-image-slice: 1;
  border-radius: 0.5rem;
}

.form-field input {
  flex: 1;
}

button {
  padding: 0.5rem 2rem;
  box-shadow: 5px 5px hsl(234, 50%, 40%);
  margin-top: 1rem;
  color: hsl(234, 50%, 40%);
  cursor: pointer;
}

button:hover {
  transition: transform 0.1s;
  transform: scale(1.1);
}

button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}
